

<h2>Please participate on the survey for your organization</h2>

<form method="post" asp-action="CheckOrganization">
    <h4>Please enter your organization name:</h4>
    <input type="text" name="organization" required />
    <button type="submit">Submit</button>
</form>
